.scrollbar {
    max-height: 150px;
    width: 290px;
    overflow:hidden;
    overflow-y:scroll;
    position: absolute;
    bottom: 30px;
}

.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.list {
    background: #383838;
    color: #C8C8C8;
    list-style-type: none;
    width: 300px;
    padding: 5px 10px 5px 10px; 
    margin:0;
}

.bestiary-name {
    list-style-type: none;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #363636;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}

.beast-highlighted {
    background-color: #575757;
}