<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Game Room</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/css/bootswatch.min.css">
        <link rel="stylesheet" href="monstermasher.css">
    </head>
    <body ng-app="myapp"> 
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">D20ToolKit</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/header/about.php">About</a>
                        </li>
                        <li>
                            <a href="/header/contact.php">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" ng-controller="MonsterMasherController as monsterController">


            <div class="finishing-name-box">
                <div class="row">
                    <div class="col-xs-6">
                        <select class="form-control" ng-options="type as type.Name for type in monsterController.CoreMonsters track by type.Name" ng-model="monsterController.Monster.Core" ng-change="monsterController.UpdateStats()"></select>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="monster-input-box">
                                    <select class="form-control" ng-options="template as template.Name for template in monsterController.MonsterTemplates track by template.Name" ng-model="monsterController.Monster.Template" ng-change="monsterController.UpdateStats()"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">
                <div class="col-xs-12">
                    <div class="finishing-name-box">
                        <h1 ng-show="!!monsterController.Monster.Core">{{ monsterController.Monster.Core.Name }}</h1>
                        <h3 ng-show="!!monsterController.MonsterTemplates" ng-repeat="template in monsterController.Monster.Templates" style="display:inline;">{{ template.Name }}</h3>
                    </div>
                </div>
            </div>-->

            <div class="row">
                <div class="col-xs-6">
                    <div class="stat-block-container" ng-if="!!monsterController.Monster.Core && !!monsterController.Monster.Core.Name && !!monsterController.Monster.Template && !!monsterController.Monster.Template.Name">
                        <h3 class="core-name">{{ monsterController.Monster.Template.Name }} {{ monsterController.Monster.Core.Name }} <small class="pull-right" style="margin-top: 5px;">(CR {{ monsterController.Monster.EndCR }})</small></h3>
                        
                        <div class="row description-container">
                            <div class="col-xs-12">
                                <i>{{ monsterController.Monster.Core.Description }}</i>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-xs-6" ng-repeat="stat in monsterController.Monster.EndStats">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h4>{{ stat.Name }}:</h4>
                                    </div>
                                    <div class="col-xs-3">
                                        <label class="stat-value {{ stat.ColorClass }}">{{ stat.Value }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="stat-block-container" ng-if="!!monsterController.Monster.Core && !!monsterController.Monster.Core.Name">
                        <d20-Monster-Stat-Block monster="monsterController.Monster.Core"></d20-Monster-Stat-Block>
                    </div>

                    <div class="stat-block-container" ng-if="!!monsterController.Monster.Template && !!monsterController.Monster.Template.Name">
                        <div class="template-block">
                            <h3 class="template-name">{{ monsterController.Monster.Template.Name }} <small>(CR <span ng-show="monsterController.Monster.Template.CR > 0">+</span> {{ monsterController.Monster.Template.CR }})</small></h3>
                            <div class="row description-container">
                                <div class="col-xs-12">
                                    <i>{{ monsterController.Monster.Template.Description }}</i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6" ng-repeat="stat in monsterController.Monster.Template.Stats">
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <h4>{{ stat.Name }}:</h4>
                                        </div>
                                        <div class="col-xs-3">
                                            <label class="stat-value">{{ stat.Value }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="monsterController.Monster.Template.Abilities.length > 0">
                                <h3>Abilities</h3>

                                <div class="row" ng-repeat="ability in monsterController.Monster.Template.Abilities">
                                    <div class="col-xs-12">
                                        {{ ability }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer>
            <!-- Add javascript links here -->
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
            <script src="app.main.js"></script>
            <script src="monstermasher.ctrl.js"></script>
            <script src="template.service.js"></script>
            <script src="monster.service.js"></script>
            <script src="monster.resource.js"></script>
            <script src="monster-statblock.ctrl.js"></script>
            <script src="monster-statblock.directive.js"></script>
        </footer>

    </body>

</html>
