<h3 class="core-name">
    {{ monsterController.MonsterPreParse.Name }} 
    <small>(CR {{ monsterController.MonsterPreParse.CR }})</small>
    <a href="" ng-click="monsterController.altStatDisplay = !monsterController.altStatDisplay" class="pull-right"><i class="fa" ng-class="{ 'fa-eye' : monsterController.altStatDisplay, 'fa-eye-slash' : !monsterController.altStatDisplay }"></i></a>
</h3>

<div class="row description-container">
    <div class="col-xs-12">
        <i>{{ monsterController.MonsterPreParse.Description }}</i>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>XP {{ monsterController.Monster.Stats.XP }}</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <span>{{ monsterController.Monster.Stats.Alignment }}</span>
        <span>{{ monsterController.Monster.Stats.Size }}</span>
        <span>{{ monsterController.Monster.Stats.Type }}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <label>Init</label>
        <span ng-if="monsterController.Monster.Stats.Init >= 0" >+</span>
        <span ng-if="monsterController.Monster.Stats.Init < 0">-</span>
        <span>{{ monsterController.Monster.Stats.Init }}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <label>Senses</label>
        <span ng-repeat="sense in monsterController.Monster.Stats.Senses "> ({{ sense }}) </span>
    </div>
</div>

<h4 class="stat-category-header">Defense</h4>
<div>
    <div ng-if="!monsterController.altStatDisplay">
        <div class="row">
            <div class="col-xs-12">
                <label>AC</label>
                <span> {{ monsterController.Monster.Stats.AC.AC }}, </span>
                <span> touch {{ monsterController.Monster.Stats.AC.TouchAC }}, </span>
                <span> flat-footed {{ monsterController.Monster.Stats.AC.FlatFootedAC }} </span>
                <span> ({{ monsterController.Monster.Stats.ACstring }}) </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>HP</label>
                <span>{{ monsterController.Monster.Stats.HP }}</span>
                <span>{{ monsterController.Monster.Stats.HPstring }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Fort</label>
                <span ng-if="monsterController.Monster.Stats.Fort > 0">+</span>
                <span>{{ monsterController.Monster.Stats.Fort }},</span>
                <label>Ref</label>
                <span ng-if="monsterController.Monster.Stats.Ref > 0">+</span>
                <span>{{ monsterController.Monster.Stats.Ref }},</span>
                <label>Will</label>
                <span ng-if="monsterController.Monster.Stats.Will > 0">+</span>
                <span>{{ monsterController.Monster.Stats.Will }}</span>
            </div>
        </div>
    </div>
    <div ng-if="monsterController.altStatDisplay">
        <div class="row">
            <div class="col-xs-12">
                <label>HP</label>
                <span>{{ monsterController.Monster.Stats.HP }}</span>
                <span>{{ monsterController.Monster.Stats.HPstring }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>AC</label>
            </div>
            <div class="col-xs-2">
                <span>{{ monsterController.Monster.Stats.AC.AC }}</span>
            </div>
            <div class="col-xs-4">
                <label>Fort</label>
            </div>
            <div class="col-xs-2">
                <span ng-if="monsterController.Monster.Stats.Fort > 0">+</span>
                <span>{{ monsterController.Monster.Stats.Fort }}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <label>Touch</label>
            </div>
            <div class="col-xs-2">
                <span>{{ monsterController.Monster.Stats.AC.TouchAC }}</span>
            </div>
            <div class="col-xs-4">
                <label>Ref</label>
            </div>
            <div class="col-xs-2">
                <span ng-if="monsterController.Monster.Stats.Ref > 0">+</span>
                <span>{{ monsterController.Monster.Stats.Ref }}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <label>Flat-Footed</label>
            </div>
            <div class="col-xs-2">
                <span>{{ monsterController.Monster.Stats.AC.FlatFootedAC }}</span>
            </div>
            <div class="col-xs-4">
                <label>Will</label>
            </div>
            <div class="col-xs-2">
                <span ng-if="monsterController.Monster.Stats.Will > 0">+</span>
                <span>{{ monsterController.Monster.Stats.Will }}</span>
            </div>
        </div>
    </div>
</div>

<h4 class="stat-category-header">Offense</h4>
<div>
    <div class="row">
        <div class="col-xs-12">
            <label>Speed</label>
            <span ng-repeat="speed in monsterController.Monster.Stats.Speed "> ({{ speed }}) </span>
        </div>
    </div>
    <div class="row" ng-if="!monsterController.altStatDisplay">
        <div class="col-xs-12">
            <label>Attacks</label>
            <span ng-repeat="attack in monsterController.Monster.Stats.Attacks">{{ attack }},</span>
        </div>
    </div>
    <div ng-if="monsterController.altStatDisplay">
        <div class="row">
            <div class="col-xs-12">
                <label>Attacks</label>
            </div>
        </div>
        <div style="padding-left: 15px" ng-repeat="attack in monsterController.Monster.Stats.Attacks">
            <span>{{ attack }}</span>
        </div>
    </div>
</div>

<h4 class="stat-category-header">Statistics</h4>
<div>
    <div ng-if="!monsterController.altStatDisplay">
        <div class="row">
            <div class="col-xs-12">
                <label>Str</label> <span>{{monsterController.Monster.Stats.Str}}</span>
                <label>Dex</label> <span>{{monsterController.Monster.Stats.Dex}}</span>
                <label>Con</label> <span>{{monsterController.Monster.Stats.Con}}</span>
                <label>Int</label> <span>{{monsterController.Monster.Stats.Int}}</span>
                <label>Wis</label> <span>{{monsterController.Monster.Stats.Wis}}</span>
                <label>Cha</label> <span>{{monsterController.Monster.Stats.Cha}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>BAB</label> <span>+{{monsterController.Monster.Stats.BAB}}</span>
                <label>CMB</label> <span>+{{monsterController.Monster.Stats.CMB}}</span>
                <label>CMD</label> <span>{{monsterController.Monster.Stats.CMD}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Feats</label>
                <span style="text-decoration:underline" ng-repeat="feat in monsterController.Monster.Stats.Feats "> {{ feat }} </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Skills</label>
                <span ng-repeat="skill in monsterController.Monster.Stats.Skills ">
                    <span style="text-decoration:underline" >{{ skill.Name }}</span> <span ng-if="skill.Value > 0">+</span>{{ skill.Value }},
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Racial Modifiers</label>
                <span ng-repeat="mod in monsterController.Monster.Stats.RacialMods">
                    <span ng-if="mod.Value > 0">+</span>{{ mod.Value }}
                    <span style="text-decoration:underline">{{ mod.Name }}</span>,
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Languages</label>
                <span ng-repeat="language in monsterController.Monster.Stats.Languages">
                    <span>{{ language }}</span>,
                </span>
            </div>
        </div>
    </div>
    <div ng-if="monsterController.altStatDisplay">
        <div class="row">
            <div class="col-xs-2">
                <label>STR</label>
            </div>
            <div class="col-xs-2">
                <span>{{monsterController.Monster.Stats.Str}}</span>
            </div>
            <div class="col-xs-2">
                <label>INT</label>
            </div>
            <div class="col-xs-2">
                <span>{{monsterController.Monster.Stats.Int}}</span>
            </div>
            <div class="col-xs-2">
                <label>BAB</label>
            </div>
            <div class="col-xs-2">
                <span>+{{monsterController.Monster.Stats.BAB}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label>DEX</label>
            </div>
            <div class="col-xs-2">
                <span>{{monsterController.Monster.Stats.Dex}}</span>
            </div>
            <div class="col-xs-2">
                <label>WIS</label>
            </div>
            <div class="col-xs-2">
                <span>{{monsterController.Monster.Stats.Wis}}</span>
            </div>
            <div class="col-xs-2">
                <label>CMB</label>
            </div>
            <div class="col-xs-2">
                <span>{{monsterController.Monster.Stats.CMD}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label>CON</label>
            </div>
            <div class="col-xs-2">
                <span>{{monsterController.Monster.Stats.Con}}</span>
            </div>
            <div class="col-xs-2">
                <label>CHA</label>
            </div>
            <div class="col-xs-2">
                <span>{{monsterController.Monster.Stats.Cha}}</span>
            </div>
            <div class="col-xs-2">
                <label>CMD</label>
            </div>
            <div class="col-xs-2">
                <span>+{{monsterController.Monster.Stats.CMB}}</span>
            </div>
        </div>
    </div>
</div>