/* Turn Tracker CSS */

.turn-tracker {
    border: 1px solid black;
    width: 200px;
    height: 400px;
    position: absolute;
    right: 310px;
    top: 60px;
    font-size: 20px;
    padding: 5px;
}

.turn-tracker .turn {
    margin-bottom: 5px;
}


/* Style 1 */

.turn-tracker.turn-style-1 {
    border: none;
    width: 225px;
}

.turn-style-1 .turn-content {
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

.turn-style-1 .active-indicator i {
    margin-top: 5px;
    position: relative;
    left: 15px;
}

.turn-style-1 .turn-content label {
    font-size: 20px;
    line-height: 22px;
    margin: 0px;
}

.turn-style-1 .turn-content .initiative {
    font-size: 20px;
    line-height: 22px;
    height: auto;
    width: 30px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    position: relative;
    right: -3px;
    top: 2px;
}

.turn-style-1 > .invert .turn-content,
.turn-style-1 > .active .turn-content {
    background-color: green;
    color: white;
}

.turn-style-1 .turn-content.invert > .initiative,
.turn-style-1 turn-content.active > .initiative {
    border: none;
    line-height: 24px;
}

.action-tracker {
    margin-top: 5px;
}

.action-tracker .row {
    padding-top: 5px;
}

.action-tracker .action {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.action {
    border: 1px solid #462E1E;
    background-color: white;
    color: black;
    padding: 5px;
}

.action.used {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}

.used .inner-actions {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}

.used .inner-actions .action {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}

.inner-actions label {
    margin: 5px;
}

.action .standard-action,
.action .move-action {
    width: 50%;
    display: inline;
}

.inner-actions {
    display: flex;
    border: 1px solid #462E1E;
}

.full-round-action {
    padding: 5px;
    border: 2px solid #462E1E;
    border-bottom: 0px;
}

.full-round-action .row {
    padding-top: 0px !important;
}

.standard-action {
    background-color: #EAC2C9;
}

.standard-action .move-action {
    width: auto;
    display: block;
    border: 2px dashed;
}

.move-action {
    background-color: #C3DAE6;
}

.free-action,
.fiveft-action,
.swift-action {
    width: 33.33%;
    display: inline;
    padding: 0px 5px 0px 5px;
}

.free-action label,
.fiveft-action label,
.swift-action label {
    margin: 5px;
}

.free-action {
    background-color: #C1E4CD;
}

.fiveft-action {
    background-color: #BAE1DE;
}

.swift-action {
    background-color: #CECDE4;
}


/* Style 2 */

.turn-tracker.turn-style-2 {
    border: none;
}

.turn-style-2 .turn-box {
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: white;
    padding-left: 10px;
    padding-right: 12px;
    text-align: left;
    border-radius: 20px;
}

.turn-style-2 .turn-box .active-indicator {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 15px;
    position: relative;
    left: -6px;
    top: 2.5px;
    border: 2px solid black;
    background-color: white;
}

.turn-style-2 .turn.active .turn-box .active-indicator {
    border: 2px solid green;
    background-color: #00D400;
}

.turn-style-2 .turn-box label {
    font-size: 20px;
    line-height: 22px;
    margin: 0px;
    position: relative;
    top: -3px;
}

.turn-style-2 .turn-box .initiative {
    font-size: 24px;
    line-height: 24px;
    height: auto;
    width: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    right: -5px;
    top: 4px;
}